{{template "base" .}}

{{define "title"}}
    Majors Suite's Room
{{end}}

{{define "content"}}
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mx-auto d-block">
                <img src="/static/images/majors.jpg" class="img-fluid" alt="room-image">
            </div>
        </div>


        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Major's Suite</h1>
                <p>
                    This is some text. This is some Text. This is some text. This is
                    some text. This is some text. This is some textThis is some text.
                    This is some Text. This is some text. This is some text. This is
                    some text. This is some textThis is some text. This is some Text.
                    This is some text. This is some text. This is some text. This is
                    some textThis is some text. This is some Text. This is some text.
                    This is some text. This is some text. This is some textThis is some
                    text. This is some Text. This is some text. This is some text. This
                    is some text. This is some text
                </p>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col text-center">
                <a id="check-availability-btn" href="#!" class="btn btn-success">
                    Check Availability
                </a>
            </div>
        </div>
    </div>
{{end}}


{{define "js"}}
    <script>
        document.getElementById("check-availability-btn").addEventListener("click", function() {
            // notify("success", "success")
            // notifyModal("success", "<em>Hello World</em>", "success", "My text for the button" )

            let html = `
          <form id="check-availability-form" action="" method="POST" novalidate class="needs-validatoin">
            <div class="row">
              <div class="col">
                <div class="row" id="reservation-dates-modal">
                  <div class="col">
                    <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival Date">
                  </div>
                  <div class="col">
                    <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure Date">
                  </div>
                </div>
              </div>
            </div>
           </form>
        `

            attention.custom({"msg": html, "title": "Choose your date"})
            // attention.error({"msg": "Hello World"})
        })
    </script>
{{end}}